-wisted @ https://pypi.python.org/packages/18/85/eb7af503356e933061bf1220033c3a85bad0dbc5035dfd9a97f1e900dfcb/Twisted-16.2.0.tar.bz2#md5=8b35a88d5f1a4bfd762a008968fddabf
absl-py==0.11.0
admin==0.0.1
aiofiles==0.6.0
aiohttp==3.7.3
aioredis==1.3.1
altgraph==0.17
ansicon==1.89.0
anyascii==0.1.7
appdirs==1.4.4
arrow==0.17.0
asgi-redis==1.4.3
asgiref==3.3.4
astor==0.8.1
astroid==2.4.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.1.0
auto-py-to-exe==2.7.11
autobahn==20.7.1
Automat==20.2.0
autopep8==1.5.4
Babel==2.6.0
beautifulsoup4==4.9.3
binarytree==6.3.0
blessed==1.17.12
blinker==1.4
blis==0.7.4
bottle==0.12.19
bottle-websocket==0.2.9
braintree==4.9.0
cached-property==1.5.2
catalogue==2.0.1
certifi==2021.5.30
cffi==1.14.2
channels==3.0.4
channels-redis==3.3.0
chardet==3.0.4
charset-normalizer==2.0.4
chatbotAI==0.1.2.4
chatterbot==1.1.0a7
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.8
constantly==15.1.0
cowin==0.0.4
cryptography==3.1
cycler==0.10.0
cymem==2.0.5
daphne==3.0.2
dataclasses==0.6
dateparser==1.1.0
decorator==4.3.0
defusedxml==0.6.0
diff-match-patch==20200713
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.2
django-allauth==0.44.0
django-bootstrap3==14.2.0
django-braces==1.14.0
django-channels==0.7.0
django-ckeditor==6.0.0
django-classy-tags==2.0.0
django-cleanup==4.0.0
django-cms==3.8.0
django-cors-headers==3.5.0
django-crispy-forms==1.8.0
django-crontab==0.7.1
django-csp==3.7
-e git://github.com/mvpdev/django-eav.git@41e99fa366a8712d2efd7006a23bd3b1fdac082a#egg=django_eav
django-extensions==3.1.0
django-extra-views==0.13.0
django-filer==2.0.2
django-filter==2.4.0
django-formtools==2.2
django-geoposition @ https://github.com/philippbosch/django-geoposition/archive/django-1.11.zip
django-haystack==3.0
django-heroku==0.3.1
django-import-export==2.4.0
django-js-asset==1.2.2
django-model-utils==4.1.1
django-modelcluster==5.1
django-mptt==0.11.0
django-multiselectfield==0.1.12
django-notifications-hq==1.6.0
django-oscar==3.0
django-phonenumber-field==3.0.1
django-picklefield==3.0.1
django-polymorphic==3.0.0
django-q==1.3.4
django-redis==4.12.1
django-rest-auth==0.9.5
django-sekizai==2.0.0
django-star-ratings==0.9.1
django-tables2==2.3.4
django-taggit==1.3.0
django-treebeard==4.3.1
django-utils-six==2.0
django-voice-bot==0.3
django-widget-tweaks==1.4.8
djangocms-admin-style==2.0.2
djangocms-attributes-field==2.0.0
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-installer==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
djongo==1.3.3
dnspython==2.1.0
docopt==0.6.2
docutils==0.14
draftjs-exporter==2.1.7
easy-thumbnails==2.7.1
ebaysdk==2.1.5
Eel==0.12.4
email-validator==1.1.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
et-xmlfile==1.0.1
factory-boy==2.12.0
fake-useragent==0.1.11
Faker==6.0.0
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-mongoengine==0.9.5
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
freetype-py==2.2.0
future==0.18.2
gast==0.4.0
geographiclib==1.50
geopy==2.1.0
gevent==20.9.0
gevent-websocket==0.10.1
googletrans==3.0.0
graphviz==0.16
greenlet==0.4.17
grpcio==1.34.0
gTTS==2.2.1
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
h5py==3.1.0
hiredis==1.1.0
hpack==3.0.0
hstspreload==2021.10.1
html2text==2018.1.9
html5lib==1.1
httpcore==0.9.1
httpie==2.3.0
httpx==0.13.3
hyperframe==5.2.0
hyperlink==20.0.1
ibm-cloud-sdk-core==1.0.0
ibm-watson==4.0.1
idna==2.10
imutils==0.5.4
incremental==17.5.0
iniconfig==1.1.1
isodate==0.6.0
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jinxed==1.0.1
joblib==0.17.0
Js2Py==0.70
jsonfield==3.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
l18n==2020.6.1
lazy-object-proxy==1.4.3
libretranslatepy==2.1.1
libsass==0.17.0
lxml==4.6.2
Mako==1.0.7
Markdown==3.3.3
MarkupPy==1.14
MarkupSafe==1.1.0
mathparse==0.1.2
matplotlib==3.3.3
mccabe==0.6.1
mock==2.0.0
mongoengine==0.20.0
MouseInfo==0.1.3
msgpack==1.0.0
msgpack-python==0.5.6
multidict==5.1.0
multithread==1.0.1
murmurhash==1.0.5
mysql-connector-python==8.0.26
mysqlclient @ file:///C:/Users/Dell/Downloads/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
nltk==3.5
num2words==0.5.6
numpy==1.19.3
oauthlib==3.1.0
odfpy==1.4.1
ofxparse==0.19
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opencv-python3==1.0
openpyxl==3.0.5
packaging==20.7
passlib==1.7.2
pathy==0.3.5
pbr==5.5.1
pefile==2019.4.18
pep8==1.7.1
phonenumbers==8.12.17
Pillow==8.2.0
pipwin==0.5.1
pluggy==0.13.1
polib==1.1.0
preshed==3.0.5
protobuf==3.14.0
psutil==5.7.3
psycopg2==2.9.1
psycopg2-binary==2.8.6
purl==1.5
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/Dell/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.8
pydantic==1.7.3
pydot==1.4.1
PyGetWindow==0.0.9
Pygments==2.7.3
PyHamcrest==2.0.2
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyjokes==0.6.0
pyjsparser==2.7.1
PyJWT==2.0.1
pylint==2.6.0
pymongo==3.11.0
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyOpenSSL==19.1.0
pyotp==2.6.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyperclip==1.8.1
pypiwin32==223
pypng==0.0.20
PyPrind==2.11.2
PyRect==0.1.4
PyScreeze==0.1.26
pyserial==3.4
pySmartDL==1.3.4
PySocks==1.7.1
pytest==6.2.3
pytest-django==4.1.0
python-binance==1.0.15
python-dateutil==2.7.3
python-decouple==3.3
python-dotenv==0.10.3
python-engineio==3.14.2
python-googlegeocoder==0.4.0
python-socketio==4.6.1
python-stdnum==1.14
python3-openid==3.2.0
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
pyusb==1.0.2
pywhatkit==3.9
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.3.1
qrcode==6.1
razorpay==1.2.0
redis==3.5.3
regex==2020.11.13
reportlab==3.5.55
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rest-meets-djongo==0.0.13
reverse-geocoder==1.5.1
rfc3986==1.5.0
scikit-learn==0.23.2
scipy==1.5.4
selenium==3.141.0
Serializer==0.2.1
service-identity==18.1.0
setuptools-scm==6.0.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
smart-open==3.0.0
sniffio==1.2.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sorl-thumbnail==12.7.0
soupsieve==2.0.1
spacy==3.0.1
spacy-legacy==3.0.1
SpeechRecognition==3.8.1
splinter==0.14.0
SQLAlchemy==1.3.20
sqlparse==0.4.1
srsly==2.4.0
swapper==1.1.2.post1
tablib==2.0.0
tensorboard==1.12.2
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl
termcolor==1.1.0
text-unidecode==1.3
thinc==8.0.1
threadpoolctl==2.1.0
tkcalendar==1.6.1
toml==0.10.1
tqdm==4.54.1
translate==3.6.1
Twisted @ file:///C:/Users/Dell/Downloads/Twisted-20.3.0-cp39-cp39-win_amd64.whl
txaio==20.4.1
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==2.1
ujson==5.0.0
Unidecode==1.1.2
urllib3==1.26.6
vatnumber==1.2
virtualenv==20.2.1
vobject==0.9.6.1
wagtail==2.11.3
wasabi==0.8.2
watson-developer-cloud==2.10.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.48.0
websockets==9.1
Werkzeug==0.16.1
whichcraft==0.6.1
whitenoise==5.3.0
wikipedia==1.4.0
Willow==1.4
wrapt==1.12.1
WTForms==2.3.3
xlrd==1.1.0
XlsxWriter==1.1.2
xlwt==1.3.0
yarl==1.6.3
zeep==3.2.0
zope.event==4.5.0
zope.interface==5.1.0
